{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        {{items}}
        <div>
            <h1><a href="">Items list</a></h1>
        </div>

        {% for i in items %}
        <div>
            <h2><a href="">{{ i.name }}</a></h2>
            <p>{{i.description}}</p>
        </div>
        {% endfor %}

    </body>
</html>